<!doctype html>
<html lang="en">
<head>
    _header.html
    <title>Block Chain Casino</title>
</head>

<body>

_topMenu.html

<div class="container" id="vueEl">

    _topBanner.html

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <div id="bonusInvestCode"></div>
                    <li>xxx</li>
                    <li>xxxx</li>
                    <li>xxx</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
            </div>
        </div>
    </div>

    _tokenBanner.html

    <small>token already distributed</small>
    <div class="progress" style="height: 30px;margin-bottom: 20px">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
             aria-valuemin="0" aria-valuemax="100"
             v-bind:style="{  width:tokenDistributedPer + '%' }"
        >{{tokenDistributedPer}}%
        </div>
    </div>

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <div id="tokenInvest1EthQr"></div>
                    <li>xxx</li>
                    <li>xxxx</li>
                    <li>xxx</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" @click="investToken1EthViaBrowser()"
                        v-if="browserWeb3Enabled">With
                    MetaMask
                </button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <div id="tokenInvest10EthQr"></div>
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" @click="investToken10EthViaBrowser()"
                        v-if="browserWeb3Enabled">
                    With MetaMask
                </button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <div id="tokenInvest100EthQr"></div>
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" @click="investToken100EthViaBrowser()"
                        v-if="browserWeb3Enabled">
                    With MetaMask
                </button>
            </div>
        </div>
    </div>


    _bonusBanner.html
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <div id="bonusInvest1EthQr"></div>
                    <li>xxx</li>
                    <li>xxxx</li>
                    <li>xxx</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" @click="investBonus1EthViaBrowser()"
                        v-if="browserWeb3Enabled">With
                    MetaMask
                </button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <div id="bonusInvest10EthQr"></div>
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" @click="investBonus10EthViaBrowser()"
                        v-if="browserWeb3Enabled">
                    With MetaMask
                </button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <div id="bonusInvest100EthQr"></div>
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" @click="investBonus100EthViaBrowser()"
                        v-if="browserWeb3Enabled">
                    With MetaMask
                </button>
            </div>
        </div>
    </div>

    _footer.html
</div>

_jsRes.html
<script src="js/index.js?t=_RP_CURRENT_TIME"></script>
</body>
</html>
