<!doctype html>
<html lang="en">
<head>
    _header.html
    <title>Block Chain Casino Management</title>
</head>

<body>

_topMenu.html

<div class="container" id="vueEl">

    <h4 class="display-4"> User Role Manage</h4>

    <h5>Role Address Table</h5>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            ADMIN
            <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            OP
            <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            INNER CONTRACT
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            PARTNER CONTRACT
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
    <br><br>
    <h5>Role Grant / Dis grant</h5>
    <form style="margin-bottom: 20px">

        <div class="form-group">
            <label>will grant / dis grant this role </label>
            <select class="form-control">
                <option value="9000">ADMIN</option>
                <option value="9001">OP</option>
                <option value="9002">INNER CONTRACT</option>
                <option value="9003">PARTNER CONTRACT</option>
            </select>
        </div>

        <div class="form-group">
            <label>to / from this address</label>
            <input type="text" class="form-control" placeholder="0x">
        </div>

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <a class="btn btn-danger btn-secondary" @click="grantAddressRole()">Grant</a>
            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-danger btn-secondary" @click="disGrantAddressRole()">Dis grant</a>
            </div>
        </div>

    </form>


    <h4 class="display-4"> Inner Contract Manage</h4>
    <h5>Change period manually</h5>
    <h4 class="display-4"> Period Job Manage</h4>

    <h5>Change period manually</h5>
    <small>this function will change current period n to n + 1</small>
    <br>
    <a class="btn btn-danger">Change period manually now!</a>
    <br><br>
    <h5>Role Grant / Dis grant</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>new period interval (in seconds)(set 0 will stop period job, non 0 value will start period
                job)</label>
            <input type="number" class="form-control" placeholder="0">
        </div>

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <a class="btn btn-danger btn-secondary">Set</a>
            </div>
        </div>
    </form>

    <h4 class="display-4"> Partner Contract Mange</h4>


    <h4 class="display-4"> Configurations</h4>
    <h5>KEY_CFG_BONUS_SPREAD_REWARD_RATIO</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>xxx</label>
            <input type="text" class="form-control" placeholder="0x" v-model="bonusSpreadRewardRatio">
        </div>

        <a class="btn btn-danger"
           @click="updateConfig(KEY_CFG_BONUS_SPREAD_REWARD_RATIO,bonusSpreadRewardRatio)">Update</a>
    </form>


    <br><br>
    <h5>KEY_CFG_BONUS_PARENT_REWARD_RATIO</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>xxx</label>
            <input type="text" class="form-control" placeholder="0x" v-model="bonusParentRewardRatio">
        </div>

        <a class="btn btn-danger"
           @click="updateConfig(KEY_CFG_BONUS_PARENT_REWARD_RATIO,bonusParentRewardRatio)">Update</a>
    </form>


    <br><br>
    <h5>KEY_CFG_BONUS_GRAND_REWARD_RATIO</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>xxx</label>
            <input type="text" class="form-control" placeholder="0x" v-model="bonusGrandRewardRatio">
        </div>

        <a class="btn btn-danger"
           @click="updateConfig(KEY_CFG_BONUS_GRAND_REWARD_RATIO,bonusGrandRewardRatio)">Update</a>
    </form>


    <br><br>
    <h5>KEY_CFG_TOKEN_SPREAD_REWARD_RATIO</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>xxx</label>
            <input type="text" class="form-control" placeholder="0x" v-model="tokenSpreadRewardRatio">
        </div>

        <a class="btn btn-danger"
           @click="updateConfig(KEY_CFG_TOKEN_SPREAD_REWARD_RATIO,tokenSpreadRewardRatio)">Update</a>
    </form>


    <br><br>
    <h5>KEY_CFG_TOKEN_PARENT_REWARD_RATIO</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>xxx</label>
            <input type="text" class="form-control" placeholder="0x" v-model="tokenParentRewardRatio">
        </div>

        <a class="btn btn-danger"
           @click="updateConfig(KEY_CFG_TOKEN_PARENT_REWARD_RATIO,tokenParentRewardRatio)">Update</a>
    </form>


    <br><br>
    <h5>KEY_CFG_TOKEN_GRAND_REWARD_RATIO</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>xxx</label>
            <input type="text" class="form-control" placeholder="0x" v-model="tokenGrandRewardRatio">
        </div>

        <a class="btn btn-danger"
           @click="updateConfig(KEY_CFG_TOKEN_GRAND_REWARD_RATIO,tokenGrandRewardRatio)">Update</a>
    </form>


    <br><br>
    <h5>KEY_CFG_GAME_HOLDER_REWARD_RATIO</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>xxx</label>
            <input type="text" class="form-control" placeholder="0x" v-model="gameHolderRewardRatio">
        </div>

        <a class="btn btn-danger"
           @click="updateConfig(KEY_CFG_GAME_HOLDER_REWARD_RATIO,gameHolderRewardRatio)">Update</a>
    </form>


    <br><br>
    <h5>KEY_CFG_ETH_TO_TOKEN_RATIO</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>xxx</label>
            <input type="text" class="form-control" placeholder="0x" v-model="ethToTokenRatio">
        </div>

        <a class="btn btn-danger" @click="updateConfig(KEY_CFG_ETH_TO_TOKEN_RATIO,ethToTokenRatio)">Update</a>
    </form>

    <br><br>
    <h5>KEY_ADDRESS_ALL_USERS_GRAND</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>xxx</label>
            <input type="text" class="form-control" placeholder="0x" v-model="addressAllUserGrand">
        </div>

        <a class="btn btn-danger" @click="updateConfig(KEY_ADDRESS_ALL_USERS_GRAND,addressAllUserGrand)">Update</a>
    </form>


    <br><br>
    <h5>KEY_ADDRESS_TOKEN</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>xxx</label>
            <input type="text" class="form-control" placeholder="0x" v-model="addressToken">
        </div>

        <a class="btn btn-danger" @click="updateConfig(KEY_ADDRESS_TOKEN,addressToken)">Update</a>
    </form>


    <br><br>
    <h5>KEY_ADDRESS_TOKEN_SERVICE</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>xxx</label>
            <input type="text" class="form-control" placeholder="0x" v-model="addressTokenService">
        </div>

        <a class="btn btn-danger" @click="updateConfig(KEY_ADDRESS_TOKEN_SERVICE,addressTokenService)">Update</a>
    </form>



    <h4 class="display-4">Update Auth Checker</h4>
    <h5>update auth checker</h5>
    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label>auth checker address</label>
            <input type="text" class="form-control" placeholder="0x" v-model="authCheckerAddress">
        </div>

        <a class="btn btn-danger"
           @click="updateAuthChecker()">Update</a>
    </form>


    _footer.html
</div>

_jsRes.html
<script src="js/manage.js?t=_RP_CURRENT_TIME"></script>
</body>
</html>
