<!doctype html>
<html lang="en">
<head>
    _header.html
    <title>Block chain casino user center</title>
</head>

<body>

_topMenu.html

<div class="container" id="vueEl">


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4"> My Assets </h1>
    </div>

    <form style="margin-bottom: 20px">
        <div class="form-group">
            <label for="inputAddress">please enter your address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="0x">
        </div>

        <a class="btn btn-primary">Query this address</a>
    </form>


    <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Bonus Holding</h5>
                <!--<small>3 days ago</small>-->
            </div>
            <p class="mb-1">100ETH</p>
            <small>bonus currently you are holding</small>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Total Bonus Profit</h5>
                <!--<small class="text-muted">3 days ago</small>-->
            </div>
            <p class="mb-1">100ETH</p>
            <small>total profit from bonus investing</small>
        </a>

        <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Bonus Profit balance</h5>
                <!--<small class="text-muted">3 days ago</small>-->
            </div>
            <p class="mb-1">100ETH</p>
            <small>withdrawable bonus profit</small>
        </a>

        <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Token Holding</h5>
                <!--<small class="text-muted">3 days ago</small>-->
            </div>
            <p class="mb-1">100ETH</p>
            <small>token currently you are holding</small>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Total Token Profit</h5>
                <!--<small class="text-muted">3 days ago</small>-->
            </div>
            <p class="mb-1">100ETH</p>
            <small>total profit from token investing</small>
        </a>

        <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Token profit balance</h5>
                <!--<small class="text-muted">3 days ago</small>-->
            </div>
            <p class="mb-1">100ETH</p>
            <small>withdrawable token profit</small>
        </a>


        <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Direct balance</h5>
                <!--<small class="text-muted">3 days ago</small>-->
            </div>
            <p class="mb-1">100ETH</p>
            <small>spread rewards,game rewards,etc</small>
        </a>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4"> Assets options </h1>
    </div>



    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Bonus Divest</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <div id="bonusDivestQr"></div>
                    <li>xxx</li>
                    <li>xxxx</li>
                    <li>xxx</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" @click="divestBonusViaBrowser()"
                        v-if="browserWeb3Enabled">With
                    MetaMask
                </button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Bonus Withdraw Profit</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <div id="bonusWithdrawProfitQr"></div>
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" @click="withdrawBonusProfitViaBrowser()"
                        v-if="browserWeb3Enabled">
                    With MetaMask
                </button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Token Withdraw Profit</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <div id="tokenWithdrawProfitQr"></div>
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" @click="withdrawTokenProfitViaBrowser()"
                        v-if="browserWeb3Enabled">
                    With MetaMask
                </button>
            </div>
        </div>
    </div>

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Token Withdraw Profit</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <div id="balanceWithdrawQr"></div>
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" @click="withdrawDirectBalanceViaBrowser()"
                        v-if="browserWeb3Enabled">
                    With MetaMask
                </button>
            </div>
        </div>
    </div>





    _footer.html
</div>

_jsRes.html
<script src="js/personal.js?t=_RP_CURRENT_TIME"></script>
</body>
</html>
